$background_color: #FFFFFF;
$primary_color: #008EFF;
$primary: #FAFAFA;
$secondary: #3889B1;
$white: #fff;

$border_primary_color: #E3E3E3;
$box_primary_color: #F5F6F8;

$btn_primary_bg: $primary;
$btn_primary_color: #F5F6F8;
$btn_secondary_bg: #fff;
$btn_secondary_color: $secondary;

$input_label_color: #6C6C6C;
$input_color: #202656;
$font_color:#000000;
$error_color: #dc3545;

$file-upload: rgba(245, 245, 245, 0.5);
$form_input_bg: #F5F5F580;

